{% macro render_field(field) %}
    {% if field.type != 'HiddenField' and field.name != 'csrf_token' %}
        <dt>{{ field.label }}
        <dd>
    {% endif %}
{% if field.type == 'TextAreaField' %}
    {{ field(rows=20, **kwargs)|safe }}
{% else %}
    {{ field(**kwargs)|safe }}
{% endif %}
{% if field.description %}
    <br/>
    <small>{{ field.description }}</small>
{% endif %}
{% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if field.name != 'csrf_token' %}
    </dd>
{% endif %}
{% endmacro %}