<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}WIIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='core.js') }}"></script>
<script>
    $(function () {
        {% with messages = get_flashed_messages(1) %}
            {% if messages %}
                window.flash = new Flash();
                {% for cat, message in messages %}
                    flash.insert('{{ message }}', '{{ cat }}');
                {% endfor %}
            {% endif %}
        {% endwith %}
    });
</script>
<header>
    {% if current_user %}
        <span class="username">Hello, {{ current_user.name }}</span>
    {% endif %}
    <nav>
        {% if current_user.is_anonymous() %}
            <a href="{{ url_for('login') }}">Log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}?csrf_token={{ csrf_token() }}">Log out</a>
        {% endif %}
    </nav>
</header>

<aside>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="{{ url_for('posts_list') }}">Posts</a>
        </li>
        <li>
            <a href="{{ url_for('brands_list') }}">Brands</a>
        </li>
    </ul>
</aside>

<div id="body">
    {% block content %}{% endblock content %}
</div>

</body>
</html>